<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ｖａｐｏｒ　Ｓｔｏｒｅ　圧グュ</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap">

  <link rel="stylesheet" href="../public/css/globals.css">
  <link rel="stylesheet" href="../public/css/home.css">
  <link rel="stylesheet" href="../public/css/404.css">

  <link rel="icon" href="../public/images/favicon.png" type="image/png">
</head>

<body>

  <header>
    <img src="../public/images/logo.png" alt="Logo da Vapor Store">

    <h1>Ｖａｐｏｒ　Ｓｔｏｒｅ　圧グュ</h1>
  </header>

  <main>
    <div class="not-found">
      <h1>Ops...</h1>
      <img src="../public/images/gifs/404mamaco.gif" alt="GIF de um Macaco tocando Piano">
      <h2>Erro 404: Página não encontrada</h2>

      <h2>Ir para:</h2>
      <div class="links">
        <a href="../index.html">Home</a>
        <a href="./productList.html">Vitrine de produtos</a>
      </div>
    </div>
  </main>
  
  <footer>
    <h2>Ｍａｄｅ　ｗｉｔｈ ❤️ ｂｙ　Ｖａｐｏｒ　Ｃｏｍｐａｎｙ　若委ねき沿</h2>
  </footer>
</body>
</html>