<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Ｖａｐｏｒ　Ｓｔｏｒｅ　圧グュ</title>
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../public/css/globals.css">
    <link rel="stylesheet" href="../public/css/productView.css">
    <link rel="stylesheet" href="../public/css/musicPlayer.css">
  
    <link rel="icon" href="../public/images/favicon.png" type="image/png">
  </head>
<body>
  <header>
    <a href="../index.html"><img src="../public/images/logo.png" alt="Logo da Vapor Store"></a>

    <div class="headerButtons">      
      <span title="Rádio Vapor Store" class="material-icons" onclick="showPlayer()">
        headset
      </span>

      <span title="Carrinho de compras" class="material-icons">
        shopping_cart
      </span>

      <span title="Conta" class="material-icons">
        account_box  
      </span>
    </div>
  </header>

  <section id="products" class="products">

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>
  </section>

  <footer>
    <h2>Ｍａｄｅ　ｗｉｔｈ ❤️ ｂｙ　Ｖａｐｏｒ　Ｃｏｍｐａｎｙ　若委ねき沿</h2>
  </footer>

  <div class="disabled" id="radio_container">
    <span id="close_radio-button" class="material-icons" onclick="closePlayer()">
      close
    </span>

    <div id="radio_song-info-container">
      <img src="" alt="" id="radio_track-thumbnail">

      <div class="radio_song-information">
        <p id="radio_song-title">No Current Track...</p>
        <p id="radio_artist-name">...</p>
      </div>
    </div>

    <audio id="radio_player"  type="audio/mpeg" preload="auto" controls ></audio>

    <div id="radio_buttons-container">
      <a id="previous-track_button" onclick="previousSong()">
        <img src="../public/icons/2x/rewind.png" alt="Botão de Faixa Anterior">
      </a>
      <a id="next-track_button" onclick="nextSong()">
        <img src="../public/icons/2x/next.png" alt="Botão de Próxima Faixa">
      </a>
    </div>
  </div>

  <script src="../public/js/musicPlayer.js"></script>
</body>
</html>