<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Ｖａｐｏｒ　Ｓｔｏｒｅ　圧グュ</title>
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../public/css/globals.css">
    <link rel="stylesheet" href="../public/css/productView.css">
  
    <link rel="icon" href="../public/images/favicon.png" type="image/png">
  </head>
<body>
  <header>
    <a href="../index.html"><img src="../public/images/logo.png" alt="Logo da Vapor Store"></a>

    <div class="headerButtons">      
      <span title="Rádio Vapor Store" class="material-icons">
        headset
      </span>

      <span title="Carrinho de compras" class="material-icons">
        shopping_cart
      </span>

      <span title="Conta" class="material-icons">
        account_box  
      </span>
    </div>
  </header>

  <section id="products" class="products">

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card_image-container">
            <img src="../public/images/productsImages/macintosh.jpg" alt="Imagem do Camiseta Macintosh" class="productImage">
          </div>
  
          <div class="cardInfo">
            <h4>Produto</h4>
  
            <p class="cardInfo_price">
              R$ 50
            </p>
          </div>
        </div>
  </section>

  <footer>
    <h2>Ｍａｄｅ　ｗｉｔｈ ❤️ ｂｙ　Ｖａｐｏｒ　Ｃｏｍｐａｎｙ　若委ねき沿</h2>
  </footer>
</body>
</html>