:root {
  --darker-blue: #00b8ff;
  --vapor-purple: #ff00c1;
}

main {
  margin-top: 10px;
  margin-bottom: 8px;
}

.conceptExplanation {
  display: grid;
  grid-template-columns: 2fr 1fr;

  height: 100%;
}

.conceptExplanation video {
  width: 100% !important;
  height: auto !important;
  align-items: stretch;
  border-radius: 10px;
}

.conceptExplanation p,
.conceptExplanation a {
  margin: 0 auto;
}

.conceptExplanation .conceptText {
  width: 100%;
  height: 100%;
  align-self: center;

  display: flex;
  align-items: center;

  vertical-align: middle;
}

.conceptExplanation p {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;

  text-align: center;

  padding: 20px;
}

.conceptExplanation p a {
  text-decoration: none;
  color: var(--darker-blue);
}

.conceptExplanation a:hover {
  color: var(--vapor-purple);
  transition: color 300ms;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 11px;
    text-align: right;
  }

  .conceptExplanation {
    display: flex;

  }

  .conceptExplanation video {
    height: 100%;
    width: 360px;

    align-items: center;

    padding-top: 10px;
  }

  .conceptExplanation .conceptText {
    /*width: 50%;
    height: 50%;*/
    align-self: center;
  
    display: flex;
    align-items: center;
    order: 3;
  
    vertical-align: middle;
  }

  footer h2 {
    font-size: 10px;
    padding: 5px;
  }
}
