#radio_container {
  position: absolute;
  top: 70px;
  right: 175px;
  z-index: 10;

  padding: 15px;

  border: 1px solid grey;
  border-radius: 10px;

  background-color: rgba(128, 128, 128, 0.5);

  text-align: center;

  visibility: visible;
}

.disabled {
  display: none;
  visibility: hidden;
}

#close_radio-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#radio_song-name {
  color: black;
  font-size: 20px;

  margin-bottom: 20px;
}

#radio_artist-name {
  color: black;
  font-size: 20px;

  margin-bottom: 20px;
}

#radio_track-thumbnail {
  height: 150px;

  margin-bottom: 10px;
}

#radio_song-information {
  margin-top: 15px;
}

#radio_song-title {
  font-weight: bold;
  font-size: 30px;
}

#radio_artist-name {
  font-weight: normal;
  font-size: 15px;
}

#radio_buttons-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

#radio_buttons-container a{
  cursor: pointer;
  height: 50px;
  width: 50px;
}

#radio_buttons-container a img{
  height: 50px;
}

#radio_buttons-container a,
#radio_buttons-container a img {
  padding: 10px;
}

#radio_time-tracker {
  margin-top: 5px;
}
