:root {
  --darker-blue: #00b8ff;
  --vapor-purple: #ff00c1;
}

body {
  background: url('../images/gifs/bg2.gif') no-repeat center center fixed;
  background-size: cover;
}

/* CSS dos produtos aqui */
.products {
  max-width: 800px;
  margin: 0 auto;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

table, th, td {
  border: 2px solid var(--darker-blue);
  background-color: var(--vapor-purple);
}

table {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0px;

  margin-top: 5px;
  margin-bottom: 15px;
}

th, td {
  text-align: center;
}

th img {
  height: 300px;
}

th {
  padding: 5px;
  padding-top: 10px;
}

td {
  padding: 10px;
  
  font-size: 22px;
  font-weight: bold;
}