:root {
  --darker-blue: #00b8ff;
  --vapor-purple: #ff00c1;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  border-bottom: 1px solid black;

  margin-bottom: 20px;
}

header img {
  height: 100px;
  margin-left: 10px;
}

header .headerButtons {
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}

header .headerButtons span {
  margin: 0 20px 0;
  cursor: pointer;
}


/* CSS dos cards aqui */
ul, 
li {
  list-style: none;
}

.products {
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
}

.card_image-container img {
  width: 100%
}


/* ================== */


footer {
  text-align: center;

  position: fixed;
  bottom: 0;

  width: 100%;
}

footer h2 {
  font-size: 15px;
  padding-bottom: 10px;
}