footer {
  text-align: center;
  max-height: 100px;
  width: 100%;

  border-top: 2px solid black;

  background-color: #5A30F2;

  position: absolute;

  color: white;
}

footer h2 {
  font-size: 15px;
  padding: 20px;
}