header {
  background-color: #5A30F2;

  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  border-bottom: 2px solid black;

  padding: 4px;
  margin-bottom: 20px;

  position: sticky;
  top: 0;
}

header h1 {
  font-size: 40px;
  font-style: italic;
}

header a {
  height: 100px;
  width: 100px;
}

header img {
  height: 100px;
  margin-left: 10px;
}

header .headerButtons {
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}

header .headerButtons span {
  margin: 0 20px 0;
  cursor: pointer;
}

header .headerButtons a {
  color: black;
}