header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
  padding: 4px;

  border-bottom: 2px solid black;

  background-color: #AA00FF;

  /*  #5A30F2  #8A2BE2  #E066FF #BF3EFF */
}

header img {
  height: 100px;
  margin-left: 10px;
}

header h1 {
 text-align: right;
}